
  <script>
    $(document).ready(function() {
      $().ready(function() {
        function postDocument(){console.log('JussiPussi')};
        $('#openUploadDocumentModalButton').click(function(event) {
          var modal = $('#uploadDocumentModal');
          var url = `http://${window.location.host}/meeting/upload_document/`
          console.log(url)
          $.ajax({
              type: "GET",
              url: url
          }).done(function(data, textStatus, jqXHR) {
              modal.find('.modal-body').html(data);
              modal.modal('show');
              formAjaxSubmit(modal, url);
          }).fail(function(jqXHR, textStatus, errorThrown) {
              console.log(errorThrown);
          });
        });

        function formAjaxSubmit(modal, endpoint) {
          var form = modal.find('.modal-body form');
          var myForm = document.getElementById('uploadDocumentForm');
          var footer = $(modal).find('.modal-footer');

          // bind to the form’s submit event
          $(myForm).on('submit', function(event) {
            let myForm = document.getElementById('uploadDocumentForm');
            let formData = new FormData(myForm)
            let myFile = document.getElementById('id_file');  // Our HTML files' ID
            // Get the files from the form input
            var files = myFile.files;
            // Select only the first file from the input array
            var file = files[0];
            // Add the file to the AJAX request
            // formData.append('theDocument', file, file.name);
            console.log("create post is working!") // sanity check
            var url = `http://${window.location.host}/meeting/upload_document/`

            // prevent the form from performing its default submit action
            event.preventDefault();
            footer.addClass('loading');
            formData.set('meeting_id', 1)
            // either use the action supplied by the form, or the original rendering url
            // var url = $(this).attr('action') || endpoint;
            console.log(formData.values());
            // serialize the form’s content and sent via an AJAX call
            // using the form’s defined method
            $.ajax({
              url : url, // the endpoint
              type : "POST", // http method
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              data : formData,
              cache: false,
              processData: false,
              contentType: false,
              success: function(json) {
                  // If the server sends back a successful response,
                  // we need to further check the HTML received
                  console.log(json)
                  // If xhr contains any field errors, the form did not
                  // validate successfully, so we update the modal body
                  // with the new form and its error
                  if ($(xhr).find('.has-error').length > 0) {
                      $(modal).find('.modal-body').html(xhr);
                      // formAjaxSubmit(modal, url);
                  } else {
                      // otherwise, we've done and can close the modal
                      $(modal).modal('hide');
                  }
              },
              error: function(xhr, ajaxOptions, thrownError) {
                $(modal).modal('hide');
                console.log(`Error: ${xhr}, ${ajaxOptions}, ${thrownError}`);
              },
              complete: function() {
                  footer.removeClass('loading');
              }
            });
          });
        }
          
   
       });
    });
  </script>

<script type="text/javascript">
  function showDocumentFunction(documentId){
  const viewerElement = document.getElementById('viewer');
  let annotManager = null;
  const DOCUMENT_ID = documentId;
  const protocol = window.location.protocol;
  const port = window.location.port;
  const hostName = window.location.hostname;
  console.log('{{ request.user }}')
  const url = `ws://${hostName}:${port}/ws/meeting/document/${documentId}/`;
  const connection = new WebSocket(url);
  console.log(connection);
  user = '{{ request.user }}';
  const serializer = new XMLSerializer();

  connection.onerror = error => {
      console.warn(`Error from WebSocket: ${error}`);
  }
  console.log(url, `http://${hostName}:${port}{{ document_path }}`, documentId)
  connection.addEventListener("open", function(e){
    console.log("Public Public ChatSocket OPEN")
        // join chat room
        if("{{request.user.is_authenticated}}"){
            connection.send(JSON.stringify({
                "command": "join",
                "documentId": documentId
            }));
        }
      })

  WebViewer({
  path: 'static/lib', // path to the PDFTron 'lib' folder
  initialDoc: `http://${hostName}:${port}{{ document_path }}`,
  // initialDoc: 'https://pdftron.s3.amazonaws.com/downloads/pl/webviewer-demo.pdf',
  documentXFDFRetriever: async () => {
      const info = await loadXfdfStrings(DOCUMENT_ID);
      // console.log('info',info);
      return info.messages.map((row) => row.xfdfString);
  },
  }, viewerElement).then( instance => {

  // Instance is ready here
  console.log(instance);
  instance.openElements(['leftPanel']);
  annotManager = instance.docViewer.getAnnotationManager();
  // Assign a random name to client
  annotManager.setCurrentUser(user);
  annotManager.on('annotationChanged', async e => {
      // If annotation change is from import, return
      if (e.imported) {
      return;
      }

      const xfdfString = await annotManager.exportAnnotCommand();
      // Parse xfdfString to separate multiple annotation changes to individual annotation change
      const parser = new DOMParser();
      const commandData = parser.parseFromString(xfdfString, 'text/xml');
      const addedAnnots = commandData.getElementsByTagName('add')[0];
      const modifiedAnnots = commandData.getElementsByTagName('modify')[0];
      const deletedAnnots = commandData.getElementsByTagName('delete')[0];

      // List of added annotations
      addedAnnots.childNodes.forEach((child) => {
      sendAnnotationChange(child, 'add');
      });

      // List of modified annotations
      modifiedAnnots.childNodes.forEach((child) => {
      sendAnnotationChange(child, 'modify');
      });
      
      // List of deleted annotations
      deletedAnnots.childNodes.forEach((child) => {
      sendAnnotationChange(child, 'delete');
      });
  });

  connection.onmessage = async (message) => {
      const annotation = JSON.parse(message.data);
      const annotations = await annotManager.importAnnotCommand(annotation.xfdfString);
      await annotManager.drawAnnotationsFromList(annotations);
    }
  });

  const loadXfdfStrings = (documentId) => {
      return new Promise((resolve, reject) => {
          fetch(`/meeting/document/messages/${documentId}/`, {
          method: 'GET',
          })
          .then((res) => {
              if (res.status < 400) {
                  res.json().then(xfdfStrings => {
                  resolve(xfdfStrings);
                  });
              } else {
                  reject(res);
              }
          })
      });
  };


  // wrapper function to convert xfdf fragments to full xfdf strings
  const convertToXfdf = (changedAnnotation, action) => {
  let xfdfString = `<?xml version="1.0" encoding="UTF-8" ?><xfdf xmlns="http://ns.adobe.com/xfdf/" xml:space="preserve"><fields />`;
  if (action === 'add') {
      xfdfString += `<add>${changedAnnotation}</add><modify /><delete />`;
  } else if (action === 'modify') {
      xfdfString += `<add /><modify>${changedAnnotation}</modify><delete />`;
  } else if (action === 'delete') {
      xfdfString += `<add /><modify /><delete>${changedAnnotation}</delete>`;
  }
  xfdfString += `</xfdf>`;
  return xfdfString;
  }

  // helper function to send annotation changes to WebSocket server
  const sendAnnotationChange = (annotation, action) => {
      console.log('messageeeeeee', annotation, action);
      var state = annotation.getAttribute('state');
      var inreplyto = annotation.getAttribute('inreplyto')
      console.log(state, inreplyto);
      if (annotation.nodeType !== annotation.TEXT_NODE) {
          const annotationString = serializer.serializeToString(annotation);
          connection.send(JSON.stringify({
            command: "send",
            documentId: DOCUMENT_ID,
            annotationId: annotation.getAttribute('name'),
            xfdfString: convertToXfdf(annotationString, action)
          }));
      }
  }
}

</script>