    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a rel="noopener noreferrer" 
           href="/" class="simple-text logo-normal">
          Meeting Plus
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        {% if request.user.is_authenticated %} 
        <li class="nav-item {% if 'ui-typography' in segment %} active {% endif %}">
          <i class="fas fa-download"></i>
          <a type="button" id="openUploadDocumentModalButton" class="btn btn-outline-primary">
            Upload Document
          </a>
        </li>

        <li class="nav-item {% if 'ui-typography' in segment %} active {% endif %}">
          <div class="nav-link" id="showDocumentButton">
            <i class="material-icons">library_books</i>
            <p>Documents</p>
          </div>
          {% if meeting_documents %}
          <ol>
            {% for document in meeting_documents %}
              <li>
                <a onclick="showDocumentFunction('{{document.id}}')">
                  {{document.name}}
                </a>
              </li>
            {% endfor %}
          </ol>
          {% else %}
            <p>There are no documents.</p>
          {% endif %}
        </li>
        <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">
          <a class="nav-link" href="/agenda.html">
            <i class="material-icons">bubble_chart</i>
            <p>Agenda</p>
          </a>
        </li>
          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'minutes' %}">
              <i class="material-icons">content_paste</i>
              <p>Minutes</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>

        {% else %}

          <li class="nav-item active">
            <a class="nav-link" 
               target="_blank" rel="noopener noreferrer"  
               href="">
              <i class="material-icons">unarchive</i>
              <p>MEETING PLUS</p>
            </a>
          </li>          

        {% endif %}
        </ul>
      </div>

    </div>
